<div class="frame">
    <header>
        <app-header/>
    </header>
     <main>
        <app-faq
        [faqQuestion]="'Can I use FrontendPro to prepare for a frontend job interview?'"
        [faqAnswer]="'FrontendPro can serve as a useful preparation tool, but it is advisable to complement it with hands-on practice and a strong grasp of fundamental frontend concepts for a comprehensive interview readiness. '"
       
        />
        <app-faq
        [faqQuestion]="'Do I need to have experience in frontend dev to use FrontendPro?'"
        [faqCardColor]="'faqTwo'"
        [faqAnswer]="'FrontendPro is designed to accommodate developers of all skill levels. Our challenges range from beginner to advanced, so there is something for everyone. '"
        />
        <app-faq
        [faqQuestion]="'How often are new challenges added to FrontendPro?'"
        [faqCardColor]="'faqThree'"
        [faqAnswer]="'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate sequi ex quia dignissimos hic vitae repellendus doloribus possimus distinctio delectus! Accusamus in molestias excepturi harum sequi maxime vitae aliquam at.'"
        />
        <app-faq
        [faqQuestion]="'What kind of frontend challenges can I expect to find on FrontendPro?'"
        [faqCardColor]="'faqFour'"
        [faqAnswer]="'FrontendPro likely offers challenges covering HTML, CSS, JavaScript, and various frameworks, focusing on responsive design, interactivity, performance optimization, and practical problem-solving in frontend development.'"
        />
        <app-faq
        [faqQuestion]="'Can I use libraries/frameworks on these projects?'"
        [faqCardColor]="'faqFive'"
        [faqAnswer]="'Use a framework like React, Vue, or Svelte. Or, if you are feeling particularly adventurous, try writing everything in Vanilla JavaScript.'"
        />
     </main>
</div>
